<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>

<h4>Inventory</h4>

<table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% @product.each do |p| %>
          <tr>
            <td><%=p.name%></td>
            <td><%=p.quantity%></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td>Total:</td>
          <td><strong><%=@total%></strong></td>
        </tr>
        <tr>
        <td>Categories:</td>
        <td><strong><%=@category%></strong></td>
      </tr>
      </tfoot>
    </table>

    <%= link_to "Back to Products", admin_products_path, class: 'btn btn-lg btn-success' %>
